@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#282C30];
        font-family: 'Saira', sans-serif;
    }

}

.link {
    transition: 0.5s all ease-in-out;
}

.link:hover {
    background: linear-gradient(92.84deg, #7740FF 0%, #28D6E2 99.67%);
}